---
layout: layouts/base.njk
description: A website for Chris Vaillancourt's thoughts and ideas.
---
<main>
   <h1>Chris Vaillancourt</h1>
    <p class="flex justify-center items-center h-screen">
    Chris is off writing code.
    </p>
</main>