---
layout: layouts/base.njk
description: A website for Chris Vaillancourt's thoughts and ideas.
---

<main>
  <section class="flex flex-col justify-center mt-60">
    <p class="flex justify-center items-center">Chris is off writing code.</p>
  </section>
</main>
