<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Chris Vaillancourt{% endblock %}</title>
    <meta charset="utf-8" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/styles/style.css?v={% version %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <nav class="flex flex-row justify-between">
        <a href="/"><h1>Chris Vaillancourt</h1></a>
        <input type="checkbox" id="menu-btn" />
        <label for="menu-btn" class="cursor-pointer select-none"
          ><span class="bg-green-700 h-2 w-4"></span
        ></label>
        <ul class="flex flex-row space-x-4 list-none">
          <li>
            <a class="no-underline hover:no-underline" href="/posts">Posts</a>
          </li>
          <li>
            <a class="no-underline hover:no-underline" href="/tags">Tags</a>
          </li>
          <li>
            <a
              class="no-underline hover:no-underline"
              href="/about"
              class="mr-4"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {{ content | safe }}
    {% endblock %}
  </body>
</html>
